.btn-primary1{color:#fff;background-color:#ffffff;border-color:#446e9b}
.btn-primary1:hover{color:#fff;background-color:#385b80;border-color:#345578}
.btn-primary1.focus,.btn-primary1:focus{color:#fff;background-color:#385b80;border-color:#345578;box-shadow:0 0 0 .2rem rgba(96,132,170,.5)}
.btn-primary1.disabled,.btn-primary1:disabled{color:#fff;background-color:#446e9b;border-color:#446e9b}
.btn-primary1:not(:disabled):not(.disabled).active,.btn-primary1:not(:disabled):not(.disabled):active,.show>
.btn-primary1.dropdown-toggle{color:#fff;background-color:#345578;border-color:#314f6f}
.btn-primary1:not(:disabled):not(.disabled).active:focus,.btn-primary1:not(:disabled):not(.disabled):active:focus,.show>
.btn-primary1.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(96,132,170,.5)}


<!--


.btn-primary1{color:#fff;background-color:#446e9b;border-color:#446e9b}
.btn-primary1:hover{color:#fff;background-color:#385b80;border-color:#345578}
.btn-primary1.focus,.btn-primary1:focus{color:#fff;background-color:#385b80;border-color:#345578;box-shadow:0 0 0 .2rem rgba(96,132,170,.5)}
.btn-primary1.disabled,.btn-primary1:disabled{color:#fff;background-color:#446e9b;border-color:#446e9b}
.btn-primary1:not(:disabled):not(.disabled).active,.btn-primary1:not(:disabled):not(.disabled):active,.show>
.btn-primary1.dropdown-toggle{color:#fff;background-color:#345578;border-color:#314f6f}
.btn-primary1:not(:disabled):not(.disabled).active:focus,.btn-primary1:not(:disabled):not(.disabled):active:focus,.show>
.btn-primary1.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(96,132,170,.5)}
.btn-secondary{color:#fff;background-color:#999;border-color:#999}
-->