.box {
  min-height: 50px;
  padding: 0px;
  margin: 0px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

.visualization {
background: #179b6f;
}

.summary {
background: #454d54;
}

.temp {
background: #454d54;
}
.humi {
background: #5c6670;
}
.wind {
background: #0099e6;
}
.clou {
background: #3973ac;
}
